.card{
  margin: 0 auto;
}
#body3{
  background-color:#CCD5AE
}
.text{
  text-align: center;
  font-family: "Seymour One";
  font-weight: 400;
  font-style: normal;
   text-align: center
}
.card-text{
  text-align: center;
  font-family: "Seymour One";
  font-weight: 400;
  font-style: normal;
   text-align: center
}
.card-title{
  text-align: center;
  font-family: "Seymour One";
  font-weight: 400;
  font-style: normal;
   text-align: center
}